<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52574860367-mcetvjm7q1t3635u585v8ung07bhlo9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52574860367-mcetvjm7q1t3635u585v8ung07bhlo9s</string>
	<key>API_KEY</key>
	<string>AIzaSyCuYlJc9OCFzyIAj8uHIFic0efjOCfkjew</string>
	<key>GCM_SENDER_ID</key>
	<string>52574860367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracky.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tracky-6ddd0</string>
	<key>STORAGE_BUCKET</key>
	<string>tracky-6ddd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52574860367:ios:9264d192c8ddca7735e63a</string>
	<key>DATABASE_URL</key>
	<string>https://tracky-6ddd0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>